<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/nav&side.css" />
    <title>Dashboard</title>
</head>
<body>
    <!-- SIDEBAR -->
    <section id="sidebar" class="hide">
        <a href="#" class="brand"><i class="bx bxs-smile icon"></i> TED Computer Medics</a>
        <ul class="side-menu">
            <li>
                <a href="/dashboard" class="<%= activePage === 'dashboard' ? 'active' : '' %>"><i class="bx bxs-dashboard icon"></i> Dashboard</a>
            </li>
            <li class="divider" data-text="main">Main</li>
            <li>
                <a href="/orders" class="<%= activePage === 'orders' ? 'active' : '' %>"><i class="bx bxs-shopping-bag icon"></i> Orders</a>
            </li>
            <li>
                <a href="/takeorders" class="<%= activePage === 'takeorders' ? 'active' : '' %>"><i class="bx bxs-cart icon"></i> Take Orders</a>
            </li>
            <li class="divider" data-text="Management">Management</li>
            <% if (userType === 'Admin' || userType === 'Manager') { %>
                <li>
                    <a href="/inventory" class="<%= activePage === 'inventory' ? 'active' : '' %>"><i class="bx bx-archive icon"></i> Inventory</a>
                </li>
                <li>
                    <a href="/supplier" class="<%= activePage === 'supplier' ? 'active' : '' %>"><i class="bx bxs-truck icon"></i> Supplier</a>
                </li>
                <li>
                    <a href="/categories" class="<%= activePage === 'categories' ? 'active' : '' %>"><i class="bx bxs-folder icon"></i> Categories</a>
                </li>
                <li>
                    <a href="/products" class="<%= activePage === 'products' ? 'active' : '' %>"><i class="bx bxs-package icon"></i> Product</a>
                </li>
                <li class="dropdown">
                    <a href="#"><i class="bx bxs-archive icon"></i> Bundle</a>
                    <ul class="dropdown-content">
                        <li><a href="/addbundle">Add Bundle</a></li>
                        <li><a href="/bundleslist">View Bundle</a></li>
                    </ul>
                </li>
            <% } else { %>
                <li>
                    <a href="#" class="disabled"><i class="bx bx-archive icon"></i> Inventory</a>
                </li>
                <li>
                    <a href="#" class="disabled"><i class="bx bxs-truck icon"></i> Supplier</a>
                </li>
                <li>
                    <a href="#" class="disabled"><i class="bx bxs-folder icon"></i> Categories</a>
                </li>
                <li>
                    <a href="#" class="disabled"><i class="bx bxs-package icon"></i> Product</a>
                </li>
                <li class="dropdown">
                    <a href="#"><i class="bx bxs-archive icon"></i> Bundle</a>
                    <ul class="dropdown-content">
                        <li><a href="#" class="disabled">Add Bundle</a></li>
                        <li><a href="#" class="disabled">View Bundle</a></li>
                    </ul>
                </li>
            <% } %>

            <li class="divider" data-text="Reports">Reports</li>
            <li>
                <a href="salereport" class="<%= activePage === 'salereport' ? 'active' : '' %>"><i class="bx bxs-report icon "></i> Sales Report</a>
            </li>
            <li class="divider" data-text="System Management">System Management</li>
            <% if (userType === 'Admin' || userType === 'Manager') { %>
                <li>
                    <a href="/users" class="<%= activePage === 'users' ? 'active' : '' %>"><i class="bx bxs-user-check icon"></i> Users</a>
                </li>
            <% } else { %>
                <li>
                    <a href="#" class="disabled"><i class="bx bxs-user-check icon"></i> Users</a>
                </li>
            <% } %>
        </ul>
    </section>
    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class="bx bx-menu toggle-sidebar"></i>
            <form action="#">
                <div class="form-group"></div>
            </form>
            <span class="divider"></span>
            <div class="profile">
                <img src="/images/profile icon.png" alt="" />
                <ul class="profile-link">
                    <li><a href="#"><i class="bx bxs-cog"></i> Settings</a></li>
                    <li>
                        <a href="/logout"><i class="bx bxs-log-out-circle icon"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->
    </section>
</body>
</html>
